@import "tailwindcss";

:root {
  --background: #99f78d;
  --foreground: #171717;
}

html, body {
  cursor: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain; /* prevents scroll chaining */
  -webkit-overflow-scrolling: touch; /* smoother scrolling on iOS */
  overscroll-behavior: none; /* disables bounce on some browsers */
}

button, :link {
  cursor: none;
}

body {
  background-image: url('/main-background.jpg'); /* name of your image */
  background-size: cover;                  /* scales image to cover screen */
  background-position: center;             /* centers the image */
  background-repeat: no-repeat;            /* avoids tiling */
  color: var(--foreground);                /* keep your text color */
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
}
