@import "tailwindcss";

:root {
  --background: #99f78d;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain; /* prevents scroll chaining */
  -webkit-overflow-scrolling: touch; /* smoother scrolling on iOS */
  overscroll-behavior: none; /* disables bounce on some browsers */
}

body {
  background-image: url('/main-background.jpg'); /* name of your image */
  background-size: cover;                  /* scales image to cover screen */
  background-position: center;             /* centers the image */
  background-repeat: no-repeat;            /* avoids tiling */
  color: var(--foreground);                /* keep your text color */
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
}
